@media screen and (max-width: 1427px) {
    .sidebar{
        /* background-color: red !important; */
        display: none;
    }
    .mainContainer{
        /* background-color: orange !important; */
        width: 100%;
    }
  }

@media screen and (max-width: 360px) {
    .mainContainer{
        width: 100%;
    }
    .footerBar{
        align-items: center;
    }
    .responsiveButtonsArea{
        padding-bottom: 20px ;
    }
  }